# build folder
build
**/build

# WebStrom indexes idea
.idea
**/.idea

# Visual Studio indexes vscode
.vscode
**/.vscode

# logs
*.log.*
**/*.log.*
**/*.log

# blocks
**/*.block

# package lock
*-lock.json
**/*-lock.json

# node modules
node_modules
**/node_modules

# react app
src

# setup scripts
scripts

# webpack configs
config

# frontend build 
build_webpack/